<include file="Index/header" />
<body>
<div id="wrapper">

    <include file="Index/nav"/>
<div id="page-wrapper">

	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">

				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i>  <a href="/admin.php?m=tenant&c=position">房源管理</a>

					</li>
					<li class="active">
						<i class="fa fa-edit"></i> 添加
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-lg-6">


				<form class="form-horizontal" id="singcms-form" enctype="multipart/form-data">
					<div class="form-group">
						<label for="inputid" class="col-sm-2 control-label">房源的房间号：</label>
						<div class="col-sm-5">
							<input type="text" name="hotel_id" class="form-control" id="inputid" placeholder="请填写房源的房间号">

						</div>
					</div>

					<div class="form-group">

						<label for="inputname" class="col-sm-2 control-label">房源所在城市：</label>
						<div class="col-sm-5">
							<input type="text" name="hotel_city" class="form-control" id="inputname" placeholder="请填写房源所在城市">
						</div>
					</div>

					<div class="form-group">
						<label for="inputhotelcounty" class="col-sm-2 control-label">房源所在县市:</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="hotel_county" id="inputhotelcounty" placeholder="请填写房源所在县市">
						</div>
					</div>

					<div class="form-group">
						<label for="inputhotelstreet" class="col-sm-2 control-label">房源所在街道:</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="hotel_street" id="inputhotelstreet" placeholder="请填写房源所在街道">
						</div>
					</div>

					<div class="form-group">
					<label  class="col-sm-2 control-label">房间图片为:</label>
						<div class="col-sm-5">
							<input id="file_upload" type="file" multiple="true">
							<img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
							<input id="file_upload_image" name="hotel_image" type="hidden" multiple="true" value="">
						</div>
					</div>

					<div class="form-group">
						<label for="inputsize" class="col-sm-2 control-label">房源的房间规格：</label>
						<div class="col-sm-5">
							<input type="text" name="hotel_size" class="form-control" id="inputsize" placeholder="请填写房源的房间规格">
						</div>
					</div>

					<div class="form-group">
						<label for="inputtype" class="col-sm-2 control-label">房源的房间类型：</label>
						<div class="col-sm-5">
							<input type="text" name="hotel_type" class="form-control" id="inputtype" placeholder="请填写房源的房间类型">
						</div>
					</div>

					<div class="form-group">
						<label for="inputcost" class="col-sm-2 control-label">房源的房间价格：</label>
						<div class="col-sm-5">
							<input type="text" name="hotel_cost" class="form-control" id="inputcost" placeholder="请填写房源的房间价格">
						</div>
					</div>

					<div class="form-group">
						<input type="hidden" name="status" value=1>
					</div>


					<div class="form-group">

						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
						</div>
					</div>
				</form>


			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>

<script src="/Public/js/tenant/image.js"></script>
<script>
	var SCOPE = {
		'save_url' : '/admin.php?m=tenant&c=position&a=add',
		'jump_url' : '/admin.php?m=tenant&c=position',
        'ajax_upload_image_url' : '/admin.php?m=tenant&c=image&a=ajaxuploadimage',
        'ajax_upload_swf' : '/Public/js/party/uploadify.swf',
    };



</script>
<!-- /#wrapper -->

<script type="text/javascript" src="/Public/js/tenant/form.js"></script>


<include file="Index/footer" />