<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="width: 1000px;">

        <img style="margin-left: 150px;margin-right: 150px;margin-bottom: 20px;float: left;" width="700px;font-weight：bold;"  src="\upload\2016\03\13\56e51b6ac8ce2.jpg">
        <div style="display:-moz-box;-moz-box-orient:vertical;margin-bottom: 20px;">
            <span style="width: 200px;color: #ac2925;margin-left: 170px;font-size: 80px;">{$positions.hotel_cost}元/月</span>
        </div>
        <div style="display:-moz-box;-moz-box-orient:vertical;margin-bottom: 20px;">
            <span style="width: 100px;margin-left: 170px;font-size: 30px;">{$positions.hotel_city}</span>
            <span style="width: 100px;font-size: 30px;">{$positions.hotel_county}</span>
            <span style="width: 100px;font-size: 30px;">{$positions.hotel_street}</span>
        </div>
        <div style="display:-moz-box;-moz-box-orient:vertical;margin-bottom: 20px;">
            <span style="width: 100px;margin-left: 170px;font-size: 30px;">房源规模：</span>
            <span style="width: 100px;font-size: 30px;">{$positions.hotel_type}</span>
        </div>
        <div style="display:-moz-box;-moz-box-orient:vertical;margin-bottom: 20px;">
            <span style="width: 100px;margin-left: 170px;font-size: 30px;">最低租用时间(月)：</span>
            <span style="width: 100px;font-size: 30px;">{$positions.limit_months}</span>
        </div>






</body>
</html>
<script>
    var SCOPE = {
        'save_url' : '/index.php?c=detailscat&a=save',
        'jump_url' : '/index.php?c=detailscat'
    };
</script>
<script type="text/javascript" src="/Public/js/admin/form.js"></script>