<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
<div id="page-wrapper">


	<div class="row">
		<div class="col-lg-6">

			<form class="form-horizontal" id="singcms-form">
				<div class="form-group">
					<label for="inputname" class="col-sm-2 control-label">用户名:</label>
					<div class="col-sm-5">
						<input type="text" name="username" class="form-control" id="inputname" placeholder="请填写用户名">
					</div>
				</div>
				
				<div class="form-group">
					<label for="inputpassword" class="col-sm-2 control-label">新密码:</label>
					<div class="col-sm-5">
						<input type="password" name="password" class="form-control" id="inputpassword" placeholder="请填写密码"/> 
					</div>

				</div>
				<div class="form-group">
					<label for="inputPassword2" class="col-sm-2 control-label">确认新密码:</label>
					<div class="col-sm-5">
						<input type="password" class="form-control" name="password2" id="inputpassword2" placeholder="请填写密码">
					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
					</div>
				</div>
			</form>


		</div>

	</div>

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script type="text/javascript" src="/Public/js/admin/form.js"></script>
<script>
	var SCOPE = {
		'save_url' : '/admin.php?c=basic&a=add',
		'jump_url' : '/admin.php?c=basic',
	};

</script>
<include file="Index/footer" />