<include file="Index/header" />
<body>
<div id="wrapper">

    <include file="Index/nav"/>
<div id="page-wrapper">

    <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">

                    <li class="active">
                        <i class="fa fa-table"></i>{$nav}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!--<div>-->
            <!--<button url="/admin.php?c=position&a=add" id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加 </button>-->
        <!--</div>-->

        <div class="row">
            <form  action="/select.php" method="get">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">检索条件</span>
                        <select class="form-control" name="select_id">
                            <foreach name="condition" item="condition">
                                <option value="{$condition.name}">{$condition.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="c" value="lessor"/>
                <input type="hidden" name="a" value="index"/>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" name="title" type="text" value="{$title}" placeholder="检索内容" />
                        <div class="input-group-btn">
                  <button id="sub_data" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>

                </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3></h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover singcms-table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>用户名</th>
                            <th>邮箱地址</th>
                            <th>手机号</th>
                            <th>真实姓名</th>
                            <th>帐号状态</th>
                            <th>用户身份</th>
                            <th>年龄</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="users" id="user">
                            <tr>
                                <td>{$user.admin_id}</td>
                                <!--<td>{$user.admin_password}</td>-->
                                <td>{$user.username}</td>
                                <td>{$user.email}</td>
                                <td>{$user.phonenumber}</td>
                                <td>{$user.realname}</td>
                                <td>
                                    <?php
                                        $s = $user['status'];
                                        if ($s == 1)
                                            echo "正常";
                                        else
                                            echo "关闭";
                                    ?>
                                </td>
                                <td>{$user.identity}</td>
                                <td>{$user.age}</td>
                                <td>
                                    <!--<span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="{$position.id}" ></span>-->
                                    <!--<a href="javascript:void(0)" id="singcms-delete"  attr-id="{$position.id}"  attr-message="删除">-->
                                        <!--<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>-->
                                    <!--</a>-->
                                    <span  id="delete" attr-id="{$user.admin_id}" attr-status="{$user.status}"><a href="#" >更改帐号状态</a></span>

                                </td>
                            </tr>
                        </volist>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- /.row -->



    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>

    $("span").on('click',function(){

        var judge;
        var x = $(this).attr('attr-status');
        if(x == 1){
            judge= confirm("确认关闭此用户？");
        }
        else{
            judge= confirm("确认恢复此用户？");
        }
        if (judge == true) {
            var id = $(this).attr('attr-id');
            window.location.href = '/admin.php?m=platformadmin&c=lessor&a=delete&id=' + id;
        }
    });

</script>
<include file="Index/footer" />